client/node_modules
express-server/node_modules
client/package-lock.json
express-server/package-lock.json
package-lock.json
node_modules
useful links.md
*/.gitignore
client/.env
**/.vscode/
.prettierrc
launch.json
package.json
client/cypress/screenshots/*